.App {
  font-family: "Ubuntu";
  text-align: center;
}

.names {
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.max {
  color: mediumblue;
}

.min {
  color: darkmagenta;
}

.tic-tac-toe {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background-color: #123456;
  height: 50vw;
  width: 50vw;
  margin: 0 auto;
}

.tic-tac-toe > div {
  background-color: white;
  text-align: center;
  place-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.thing {
  font-size: 50px;
  line-height: 100%;
  vertical-align: baseline;
}

.o {
  font-size: 70px;
}

.x {
  transform: rotate(45deg);
}
